*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-geist-sans);
}

html {
  background-color: whitesmoke;
}

.image-container {
  position: relative;
  border-radius: 0.8rem;
  overflow: hidden;
  & .image-loading-skeleton {
    position: absolute;
    inset: 0;
    background-color: gray;
    opacity: 0.1;
    z-index: -1;
    &:has(~ img[data-loaded="true"]) {
      opacity: 0;
    }
  }

  & img[data-loaded="false"] {
    opacity: 0;
  }

  & img[data-loaded="true"] {
    opacity: 1;
  }
}
